
/* to import the font to website*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body{
    margin: 0px;     /* this will remove the orginal border and standart margim from the page*/
    padding: 0px;
}

#main{
    width: 100%;
    height: 100px;
    border: 1px solid black;      /* this will give a simple black border*/
    background-color: #303030;   /* background colour of the Nav bar */
    display: flex;
    align-items: center;       /* this will align all items vertically inside the flex */
    justify-content: space-between;  /* this will make the Log in button move all the way to the right side*/
    border-bottom: 1px solid #bababa; /* Will create border around NAV bar */
} 

    #main div a{            
        font-family:"Inter";
        font-size: 20px;            /* This will change all the links inside */
        font-weight: bold;
        color: white;
        text-decoration: none;    /* will remove the underscore */
    }

    #main div a:hover{    /* this will create an effect when mouse hover on top of link */
        color: #cccccc;
    }


    #menu{
        display: flex;            
        width: 30%; 
        justify-content: space-around;    /* will give space between the links*/
        margin-left: 5%;     /* will keep the links  next to each other */
    }

    #btn{
        background-color:#0C70F2;
        font-weight: bold;
        font-size: 15px;
        color: white;
        font-family:"Inter";
        border: 0;
        margin-right: 5%;
        width: 80px;
        height: 35px;
        box-shadow: 3px 2px 4px rgba(12,112,242,1); /* This will give a little bit of shaddow in the background 3px (horizontal) 2px (vertically) 4px (blur) 0.25 (transparency*/
        border-radius: 5px;
        cursor: pointer;    /* will create the pointer hand when you hover on top of log in*/
    }

